rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /game_log/{gameId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /player_stats/{playerName} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /sessions/{sessionId} {

      allow read: if request.auth != null;

      allow create: if request.auth != null
        && request.resource.data.hostUid == request.auth.uid;

      allow update: if request.auth != null && (
        resource.data.hostUid == request.auth.uid
        || isPlayerInSession(resource.data.playerSlots, request.auth.uid)
        || isJoiningEmptySlot(resource.data.playerSlots, request.resource.data.playerSlots, request.auth.uid)
      );

      allow delete: if request.auth != null
        && resource.data.hostUid == request.auth.uid;
    }

    function isPlayerInSession(slots, uid) {
      return slots[0].uid == uid
        || slots[1].uid == uid
        || slots[2].uid == uid
        || slots[3].uid == uid
        || slots[4].uid == uid
        || slots[5].uid == uid;
    }

    function isAISlot(slot) {
      return slot.uid.matches('AI-.*');
    }

    function isJoiningEmptySlot(oldSlots, newSlots, uid) {
      return !isPlayerInSession(oldSlots, uid) && (
        (newSlots[0].uid == uid && (!oldSlots[0].joined || isAISlot(oldSlots[0]))) ||
        (newSlots[1].uid == uid && (!oldSlots[1].joined || isAISlot(oldSlots[1]))) ||
        (newSlots[2].uid == uid && (!oldSlots[2].joined || isAISlot(oldSlots[2]))) ||
        (newSlots[3].uid == uid && (!oldSlots[3].joined || isAISlot(oldSlots[3]))) ||
        (newSlots[4].uid == uid && (!oldSlots[4].joined || isAISlot(oldSlots[4]))) ||
        (newSlots[5].uid == uid && (!oldSlots[5].joined || isAISlot(oldSlots[5])))
      );
    }

    match /{document=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
